.error{
	color:#CD1919;
}
.cstm-navbar button.navbar-toggler {
    border-color: #59455f;
    color: #59455f;
    font-size: 21px;
    width: 45px;
    height: 40px;
    outline: none;
}
.cstm-navbar button.navbar-toggler .navbar-toggler-icon{
	display: flex;
	align-items: center;
	width: auto;
    height: auto;
	position: relative;
}
.cstm-navbar button.navbar-toggler span.navbar-toggler-icon:after {
    position: absolute;
    content: "\f0c9";
    font-family: fontawesome;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.sign-col p{
	font-size: 16px;
}
.sign-col{
	flex: 0 0 29%;
	max-width: 29%;
}

a.connect-button:hover {
    color: black;
    text-decoration: underline;
}

.connect-button {
    margin-bottom: 1px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#28a0e5),to(#015e94));
    background-image: linear-gradient(#28a0e5,#015e94);
    -webkit-font-smoothing: antialiased;
    border: 0;
    padding: 4px;
    height: 35px;
    text-decoration: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none!important;
    color:white; 
}

@media(min-width: 768px){
	.contact-frm-manage{
		margin-left: 150px;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.business-signup-sec .container{
		max-width: 940px;
	}
	.sign-detail-row .sign-col{
		flex: 0 0 30%;
    	max-width: 30%;
	}
}
@media(max-width: 767px){
	.sign-detail-row .sign-col{
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.search-col-wrap > div {
    margin-bottom: 35px;
}

.search-col-wrap .search-result-col{
    margin-bottom: 0;
    min-height: 100%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: #86c959;
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

.search-col-wrap .search-result-col{
    position: relative;
}
.result-col-subtitle{
    margin-bottom: 35px;
    padding-bottom: 15px;
}
.search-result-col a.btn.pickd-btn {
    position: absolute;
    width: calc(100% - 63px);
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cstm-navbar .navbar-wrap li a {
    font-weight: 500 !important;
}

strong {
    font-weight: bold !important;
}
/* 18-02-20 */
.cstm-navbar .navbar-wrap li {
    padding: 10px 5px;
}

#card-element .__PrivateStripeElement {
    background: #f8f8f8 !important;
    border-radius: 5px;
    border: 1px solid #e6e6e6 !important;
    height: 100%;
    display: flex !important;
    align-items: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.InputContainer .InputElement {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
}

.CardField-expiry span.InputContainer input {
    border-right: 1px solid #e6e6e6;
}

.CardField-cvc span.InputContainer input {
    padding-left: 5px;
}

.sbm-small-title {
   font-size: 23px;
    font-weight: 700;
    color: #585858;
}
.btn.sbm-btn {
   background:#86C959;
   color:#ffffff;
   padding:10px 20px;
   border:1px solid #86C959;
   border-radius:30px;
}
.btn.sbm-btn:hover {
   background:#000000;
   border-color:#86C959;
   color:#ffffff;
}
.sbm-table-bordered.table-light tbody+tbody, .sbm-table-bordered.table-light td, .sbm-table-bordered.table-light th, .sbm-table-bordered.table-light thead th {
   border-color: #dcdcdc;
}
.sbm-table-bordered tbody td:first-child {
   font-weight: 600;
}
.sbm-logo-holder {
    width: 100%;
    height: 100%;
    display: flex;
    padding:20px;

    -ms-flex-align: center !important;
    align-items: center !important;
    text-align: center;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    /*background: #fff;*/
}
.sbm-logo-holder img { 
   width: 60%;
   max-width: 355px;
   object-fit:content;
}
.sbm-table-bordered {
   margin-bottom:0px;
}

.testimonial-slider .client-info .client-img img {
   border-radius: 50%;
}
.featured-business-sec .slide {
   padding: 0 15px; 
}
.featured-business-sec .search-result-col {
   margin:30px 0;
}
.featured-business-sec .slick-slider .slick-arrow i {
   color: #000000;
    display: inline-block;
    line-height: 1;
    font-size: 50px;
}
.featured-business-sec  .slick-slider .slick-arrow:before {
    display: none ;
}
.featured-business-sec  .slick-slider .slick-arrow {
   position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 0;
    color: #000000;
    display: inline-block;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.featured-business-sec  .slick-slider .slick-arrow.slick-next {
   right:-30px;
}
.featured-business-sec  .slick-slider .slick-arrow.slick-prev {
   left:-30px;
}
.oh-hidden {
   overflow:hidden;
}
@media(max-width:767px) {
   .slick-slider {
      padding: 0 25px;
   }
   .featured-business-sec  .slick-slider .slick-arrow.slick-next {
      right:-0px;
   }
   .featured-business-sec  .slick-slider .slick-arrow.slick-prev {
      left:-0px;
   }
}
@media(max-width:575px) {
   .featured-business-sec  .slick-slider {
      padding: 0;
   }
   .featured-business-sec  .slick-slider .slick-arrow.slick-next {
      right:-15px;
   }
   .featured-business-sec  .slick-slider .slick-arrow.slick-prev {
      left:-15px;
   }
}

a.btn.pickd-btn1 {
   left: 0;
   right: 0;
   bottom: 30px;
   margin: 0 auto;
   border-radius: 30px;
}

.btn-green {
    background: #86c959;
}

/*17-07-2020*/

.sbm-small-title {
   font-size: 23px;
    font-weight: 700;
    color: #585858;
}
.btn.sbm-btn {
   background:#86C959;
   color:#ffffff;
   padding:10px 20px;
   border:1px solid #86C959;
   border-radius:30px;
}
.btn.sbm-btn:hover {
   background:#000000;
   border-color:#86C959;
   color:#ffffff;
}
.sbm-table-bordered.table-light tbody+tbody, .sbm-table-bordered.table-light td, .sbm-table-bordered.table-light th, .sbm-table-bordered.table-light thead th {
   border-color: #dcdcdc;
}
.sbm-table-bordered tbody td:first-child {
   font-weight: 600;
}
.sbm-logo-holder {
    width: 100%;
    height: 100%;
    display: flex;
    padding:20px;

    -ms-flex-align: center !important;
    align-items: center !important;
    text-align: center;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    /*background: #fff;*/
}
.sbm-logo-holder img { 
   width: 60%;
   max-width: 355px;
   object-fit:contain;
}
.sbm-table-bordered {
   margin-bottom:0px;
}
.border-radius-5 {
   border-radius:5px;
}
.verify-form .border-radius-5 {
   border-radius:5px !important;
}
.input-group.verify-form .input-group-append {
    margin-left: 15px;
}

.input-group.verify-form .form-control {
    height: auto;
    border-radius: 5px;
    box-shadow: none;
}
.sbm-table-2 thead {
    background: #6FB8AC;
}

.sbm-table-2 thead td {
   color: #fff;
   padding: 20px;
   font-weight: 700;
}
.fw-600 {
   font-weight:600;
}
.mb-30 {
   margin-bottom:30px;
}
.sbm-table-2 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}
.input-group.verify-form .sbm-btn {
    padding-left: 40px;
    padding-right: 40px;
}
@media(min-width:768px) {
   .sbm-table-2 thead td,
   .sbm-table-2 tbody td {
      padding-left: 50px;
   }
   .sbm-table-2 td:first-child {
      width: 30%;
   }
}

.gift-list li {
    position: relative;
    padding-left: 30px;
    padding-bottom: 15px;
}
.gift-list li:before {
    position: absolute;
    content: '\e91c';
    font-family: 'icomoon' !important;
    left: 0;
    color: #86c959;
    font-size: 20px;
    top: -3px;
}
.sbm-logo-table {
    height: 100%;
    /* padding: 20px 0; */
    border: 1px solid #dee2e6;
}
.table-light th, .table-light td{
   border: 0 !important;
}


.search-result-col a.btn.pickd-btn1 {
    position: absolute;
    width: calc(100% - 63px);
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
}

.featured-business-sec .search-result-col {
    position:relative;
    margin:0px;
}

.featured-business-sec .slick-slide {
    height:100%;
}

.featured-business-sec .slick-track {
    display: flex;
}

.featured-business-sec .slick-track .slick-slide {
    height:100%;
    height: inherit !important;
}

.featured-business-sec .slick-track .slick-slide .slide,
.featured-business-sec .slick-track .slick-slide>div,
.featured-business-sec .slick-track .slick-slide .search-result-col {
   height:100%;
}

.featured-business-sec .slick-track:before,.featured-business-sec .slick-track:after {
    display: none;
}

.featured-business-sec .result-col-subtitle {
   margin-bottom: 40px;
}
.featured-business-sec .search-result-col .pickd-btn {
   position: absolute;
    width: calc(100% - 63px);
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto;
}

